@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

/* Header */
header {
  background-color: #185a9d;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.logo h1 {
  color: white;
}
.logo h1:hover{
  color: goldenrod;
}
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: goldenrod;
}

/* HERO IMAGE SECTION */
.top {
  position: relative;
  height: 520px;
  margin: 20px;
  border-radius: 20px;
  background: url("./assets/hand-img-poster-img.jpg ") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 60px;
  overflow: hidden;
}

.top .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}

.hero-text {
  position: relative;
  color: white;
  max-width: 500px;
}

.hero-text h1 {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-text span {
  color: goldenrod;
}

.hero-text p {
  font-size: 18px;
  color: #f1f1f1;
}

/* Sections */
section {
  padding: 30px 10px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Cards */
.work-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background: white;
  width: 230px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* How it works */
.subtitle {
  margin-bottom: 40px;
  color: #555;
}

.works {
  display: flex;
  gap: 30px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-10px);
}

/* Footer */
footer {
  background-color: #185a9d;
  padding: 40px 80px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: white;
}

.set a {
  display: block;
  color: white;
  text-decoration: none;
  margin-top: 8px;
}

.set a:hover {
  color: goldenrod;
}
