@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

/* HEADER */
header {
  background-color: #185a9d;
  display: flex;
  height: 60px;
  align-items: center;
}

.logo h1 {
  margin-left: 40px;
  color: aliceblue;
  margin-right: 609px;
}

.logo a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 36px;
  margin-left: auto;
  margin-right: 40px;
}

.nav-links a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

.nav-links a:hover {
  color: goldenrod;
}

/* BREADCRUMB */
.back-button {
  max-width: 1100px;
  margin: 20px auto 10px;
  padding: 0 20px;
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: #6b7280;
}

.back-button a {
  text-decoration: none;
  color: #185a9d;
  font-weight: 500;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: #9ca3af;
}

.breadcrumb p {
  color: #374151;
  font-weight: 500;
}

/* TABLE CONTAINER */
.container {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 20px;
}

.card {
  background: #ffffff;
  padding: 26px;
  border-radius: 18px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.06);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 16px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

th {
  font-size: 14px;
  color: #374151;
}

/* STATUS */
.pending {
  background: #fef3c7;
  color: #b45309;
  padding: 6px 12px;
  border-radius: 14px;
  font-size: 12px;
}

.accepted {
  background: #dcfce7;
  color: #166534;
  padding: 6px 12px;
  border-radius: 14px;
  font-size: 12px;
}

.rejected {
  background: #fee2e2;
  color: #991b1b;
  padding: 6px 12px;
  border-radius: 14px;
  font-size: 12px;
}

/* ACTION BUTTON */
.actions button {
  background: transparent;
  border: none;
  color: #2563eb;
  cursor: pointer;
  font-size: 14px;
}

.actions button:hover {
  text-decoration: underline;
}

/*  FOOTER  */
.footer {
  background-color: #185a9d;
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 220px;
  padding-bottom: 60px;
}

.set-1,
.set-2,
.set-3 {
  color: #fff;
}

.set-2 {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.set-2 a {
  text-decoration: none;
  color: #fff;
  margin-top: 8px;
}

.set-2 a:hover {
  color: goldenrod;
}

.set-3 p {
  margin-top: px;
}
