@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;

  /* header */
}
header {
  background-color: #185a9d;
}
header {
  position: sticky;
  display: flex;
  height: 60px;
}
/* tagline */
.tag-line {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: xx-large;
}
/* logo */
.logo h1 {
  margin-right: 600px;
  margin-top: 10px;
  margin-left: 20px;
  color: aliceblue;
}
.logo a {
  text-decoration: none;
}
.logo h1:hover {
  color: goldenrod;
}
/* navbar */

.nav-links {
  position: sticky;
  display: flex;
  justify-content: end;
  gap: 40px;
  /* margin-left: 100px; */
  font-weight: 400px;
}
.nav-links a {
  text-decoration: none;
  margin-top: 20px;
  color: aliceblue;
}
.nav-links a:hover {
  color: goldenrod;
}

/* Main */

.message-container {
  background-color: #fff;
  height: 300px;
  width: 600px;
  margin-left: 470px;
  margin-top: 200px;
  margin-bottom: 200px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 30px;
}
.message h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}
/* back */
.back {
  display: flex;
  justify-content: end;
  margin-right: 40px;
  margin-top: 20px;
}
.back a button {
  height: 50px;
  width: 180px;
  background: #185a9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.back a button:hover {
  background-color: #387cc0;
}
.message p {
  font-size: 21px;
}
.btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 900px;
  font-size: 14px;
}
.btn button {
  margin-left: 230px;
  margin-top: 50px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  background-color: #185a9d;
  border: none;
}
button:hover {
  background: #387cc0;
}
/*  FOOTER  */
.footer {
  background-color: #185a9d;
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 120px;
    padding-bottom: 60px;
}

.set-1,
.set-2,
.set-3 {
  color: #fff;
}

.set-2 {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.set-2 a {
  text-decoration: none;
  color: #fff;
  margin-top: 8px;
}

.set-2 a:hover {
  color: goldenrod;
}

.set-3 p {
  margin-top: px;
}
