@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

/* Main container */
.form-container {
  width: 35%;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  background-color: #fff;
}

/* top headings */
.top-headings {
  text-align: center;
  margin-bottom: 30px;
}

.top-headings h3 {
  color: #185a9d;
  font-size: 30px;
  margin-bottom: 10px;
}

.top-headings p {
  color: #555;
}

/* form */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* label */
label {
  margin-left: 10px;
  font-weight: 500;
}

/* input */
input,
select {
  width: 90%;
  margin-left: 10px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 6px;
}

/* button */
button {
  height: 50px;
  width: 90%;
  margin: 20px 0 10px 10px;
  background-color: #185a9d;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  border: none;
}

/* auth links */
.auth-links {
  text-align: center;
  margin-top: 15px;
}

.auth-links a {
  text-decoration: none;
  color: #185a9d;
  font-weight: 500;
}
