@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f8;
  font-family:  "Poppins", sans-serif;
}

/*  HEADER  */
header {
  background-color: #185a9d;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 40px;
}

.logo h1 {
  color: aliceblue;
  margin-right: 850px;
}

.logo a {
  text-decoration: none;
}

.logo h1:hover {
  color: goldenrod;
}

/* navbar */
.nav-links {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.nav-links a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

.nav-links a:hover {
  color: goldenrod;
}

/*  MAIN  */
.container {
  max-width: 900px;
  margin: 40px auto;
}

.top-head {
  margin-bottom: 20px;
}

.top-head h3 {
  color: #185a9d;
  font-size: 28px;
}

.top-head p {
  margin-top: 8px;
}

/* Donation details box */
.main-field {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.main-field p {
  font-size: 16px;
  line-height: 1.6;
}

/* Proper label spacing */
.main-field strong {
  display: inline-block;
  width: 180px;
}

/*  BUTTONS  */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.btn-1,
.btn-2 {
  height: 45px;
  width: 200px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-1 {
  background-color: green;
}

.btn-1:hover {
  background-color: rgb(29, 158, 29);
}

.btn-2 {
  background-color: red;
}

.btn-2:hover {
  background-color: rgb(152, 35, 35);
}

.buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
  line-height: 45px;
  text-align: center;
}


/*  FOOTER  */
.footer {
  background-color: #185a9d;
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 120px;
}

.set-1,
.set-2,
.set-3 {
  color: #fff;
}

.set-2 {
  display: flex;
  flex-direction: column;
}

.set-2 a {
  text-decoration: none;
  color: #fff;
  margin-top: 8px;
}

.set-2 a:hover {
  color: goldenrod;
}

.set-3 p {
  margin-top: 8px;
}

