@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f8;
  font-family: "Poppins", sans-serif;
  color: #222;
}

/*  HEADER  */

header {
  background-color: #185a9d;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.logo h1 {
  color: #fff;
  font-size: 24px;
}

.logo a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

/*  TOP HEAD  */

.top-head {
  max-width: 1100px;
  margin: 40px auto 20px;
}

.top-head h3 {
  font-size: 36px;
  color: #185a9d;
  margin-bottom: 10px;
}

.top-head p {
  font-size: 18px;
  color: #444;
}

/*  CONTAINER  */

.container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*  CARD  */

.card {
  background: #f7f8fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  border-radius: 14px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.08);
}

.field-1 h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.field-1 p {
  font-size: 16px;
  margin-bottom: 6px;
  color: #333;
}

/*  BUTTON  */

button {
  height: 44px;
  width: 130px;
  border-radius: 25px;
  border: none;
  background-color: #185a9d;
  cursor: pointer;
  transition: 0.3s ease;
}

button a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

button:hover {
  background-color: #3a8cdf;
}

/*  FOOTER  */
.footer {
  background-color: #185a9d;
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 120px;
}

.set-1,
.set-2,
.set-3 {
  color: #fff;
}

.set-2 {
  display: flex;
  flex-direction: column;
}

.set-2 a {
  text-decoration: none;
  color: #fff;
  margin-top: 8px;
}

.set-2 a:hover {
  color: goldenrod;
}

.set-3 p {
  margin-top: 8px;
}
